<section class="about">
    <div class="container">
        <div class="about__nav-item">
            <p class="about__us">About us</p>
            <h2 class="about__title">Our сraftsmanship: сreating unique <br> handmade furniture</h2>
            <h4 class="about__title-text">Discover the inspiration behind our modern and minimalist designs, and see <br> how we bring them to life through our skilled craftsmanship.</h4>
            <div class="about__nav">
                <div class="about__item">
                <h3 class="about__link">5+</h3>
                <p class="about__text">Years of experience <br> creating handcrafted <br> furniture</p>
            </div>
            <div class="about__item">
                <h3 class="about__link">100%</h3>
                <p class="about__text">Sustainably sourced <br> materials used in all <br> of our furniture</p>
            </div>
            <div class="about__item">
                <h3 class="about__link">500+</h3>
                <p class="about__text">Unique furniture <br> designs crafted by <br> our skilled artisans</p>
            </div>
        </div>
    </div>
        <div class="about__item-img">
            <!-- <picture class="about__img">
                <source srcset="./images/product@1xmob.png 1x, ./images/product@2xmob.png 2x" type="image/png">
                <source srcset="./img/product@1xmob.png 1x, ./img/product@2xplan.png 2x" type="image/png">
                <source srcset="./img/product@1xmob.png 1x, ./img/product@2x.png 2x" type="image/png">
                <source srcset="./img/product@1xmob.webp 1x, ./img/product@2xmob.webp 2x" type="image/webp">
                <source srcset="./img/product@1xplan.webp 1x, ./img/product@2xplan.webp 2x" type="image/webp">
                <source srcset="./img/product@1x.webp 1x, ./img/product@2x.webp 2x" type="image/webp">
                <img src="./img/product@1x.png" alt="photo">
            </picture> -->
        </div>
    </div>
    </section>