<section class="bestsellers">
    <div class="container">
    <h2 class="bestsellers__item">Bestsellers</h2>
<div class="bestsellers__wraper">
    <div class="bestsellers__list">
      <!--<picture>
        <source srcset="src/images/David/main_1x.png, src/images/David/main_2x.png" type="image/png">
        <source srcset="src/images/David/main_1x_tab.png, src/images/David/main_2x_tab.png"type="image/png">
        <source srcset="src/images/David/main_1xmob.png, src/images/David/main_2xmob.png"type="image/png">
      </picture>-->
        <div class="bestsellers__wrap"></div>
         <h3 class="bestsellers__text">The modern platform bed</h3>
         <p class="bestsellers__cost">750$</p>
    </div>


    <ul class="bestsellers__link">
      
        
          <li class="bestsellers__box">
            <div class="bestsellers__one"></div>
            <h3 class="bestsellers__text">The Cozy Lounge Chair</h3>
              <p class="bestsellers__cost">230$</p>
           
          </li>
          <li class="bestsellers__box">
            <div class="bestsellers__two"></div>
            <h3 class="bestsellers__text">The industrial accent chair</h3>
              <p class="bestsellers__cost">250$</p>
            
          </li>
          <li class="bestsellers__box">
            <div class="bestsellers__three"></div>
            <h3 class="bestsellers__text">The sleek stand</h3>
              <p class="bestsellers__cost">300$</p>
            
          </li>
          <li class="bestsellers__box">
            <div class="bestsellers__four"></div>
            <h3 class="bestsellers__text">The minimalist sofa</h3>
              <p class="bestsellers__cost">650$</p>
           
          </li>
        
      
    </ul>
  </div>
</div>
  </section>