<footer class="footer">
    <div class="container">
        <img src="./index.html" alt="logo" class="footer__logo">
        <div class="footer__wrapper">
            <div class="footer__socials">
                <svg class="footer__socials-icon">
                    <use></use>
                </svg>
                <svg class="footer__socials-icon">
                    <use></use>
                </svg>
                <svg class="footer__socials-icon">
                    <use></use>
                </svg>
            </div>
            <div class="footer__list">
                <p class="footer__list-item">About us</p>
                <p class="footer__list-item">Our products</p>
                <p class="footer__list-item">Prices</p>
                <p class="footer__list-item">Bestsellers</p>
                <p class="footer__list-item">Reviews</p>
            </div>
            <div class="footer__geo">
                <p class="footer__geo-item">Obolonsky Prospect, 14, Kyiv</p>
                <p class="footer__geo-item">Daily 10:00-21:00</p>
            </div>
            <div class="footer__phone">
                <a href="tel:+380669384758" class="footer__phone-item">+380669384758</a>
                <a href="tel:+380679384758" class="footer__phone-item">+380679384758</a>
            </div>
            <a href="mailto:minimal.furniture@gmail.com" class="footer__mail">minimal.furniture@gmail.com</a>    
        </div>
        <p class="footer__terms">
            By using this website, you agree to the 
            <a href="./index.html">Terms of Service and Privacy Policy</a>
        </p>
    </div>
</footer>