<header class="header">
    <div class="container">
        <img src="#" alt="logo" class="header_logo">
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a href="#">Our products</a>
                </li>
                <li class="nav-item">
                    <a href="#">Prices</a>
                </li>
                <li class="nav-item">
                    <a href="#">Bestsellers</a>
                </li>
                <li class="nav-item">
                    <a href="#">Reviews</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contacts</a>
                </li>
            </ul>
        </nav>
</header>