<header class="header">
    <div class="container header__wrap">
        <svg class="header__logo">
            <use href="./images/footer/symbol-defs.svg#icon-footer__logo"></use>
        </svg>
        <nav class="header__nav">
            <a href="#" class="header__nav-link">About us</a>
            <a href="#" class="header__nav-link">Our products</a>
            <a href="#" class="header__nav-link">Prices</a>
            <a href="#" class="header__nav-link">Bestsellers</a>
            <a href="#" class="header__nav-link">Reviews</a>
            <a href="#" class="header__nav-link">Contacts</a>
        </nav>
    </div>
</header>