<section class="newsletter">
    <div class="container newsletter__wrap-two">
    
        
        
    <div class="newsletter__wrap">
        <h3 class="newsletter__title">Newsletter</h3>
        <p class="newsletter__text">Every week we will send you new designs and information about sales.</p>
        <form class="newsletter__form">
            <input class="newsletter__input" type="email">
            <input class="newsletter__input" type="text">
            <div class="wrap__label">
            <label class="newsletter__policy">
            <input required class="newsletter__checbox" type="checkbox">
            </label>
            <p class="policy__text">Agree to subscribe to the newsletter</p>
        </div>
            <button class="newsletter__btn" type="submit">Send</button>
        </form>
    </div>
    <div class="newsletter__img">
        <picture class="">
            <source srcset="./images/newsletter/newteller1-1x.webp, ./images/newsletter/newsteller1-2x.webp" type="image/webp">
            <source srcset="./images/newsletter/newteller1-1x.png, ./images/newsletter/newsteller1-2x.png" type="image/png">
            <img src="./images/newsletter/newteller1-1x.png" alt="1">
          </picture>
    </div>
</div>
</section>