<section class="newsletter">
    <div class="container">
    
        
        
    <div class="newsletter__wrap">
        <h3 class="newsletter__title">Newsletter</h3>
        <p class="newsletter__text">Every week we will send you new designs and information about sales.</p>
        <form class="newsletter__form">
            <input class="newsletter__input" type="email">
            <input class="newsletter__input" type="text">
            <div class="wrap__label">
            <label class="newsletter__policy">
            <input required class="newsletter__checbox" type="checkbox">
            </label>
            <p class="policy__text">Agree to subscribe to the newsletter</p>
        </div>
            <button class="newsletter__btn" type="submit">Send</button>
        </form>
    </div>
    <div class="newsletter__img">
        <!-- <picture class="header__logo">
            <source srcset="" type="image/webp">
            <source srcset="" type="image/png">
            <img src="#" alt="1">
          </picture> -->
    </div>
</div>
</section>