<section class="hero">
    <div class="container">
    <ul class="hero__wrap">
        <li class="hero__box">
            <h3 class="hero__link">Chairs</h3>
            <p class="hero__title">from 200₴</p>
        </li>
        <li class="hero__box">
            <h3 class="hero__link">Tables</h3>
            <p class="hero__title">from 250₴</p>
        </li>
        <li class="hero__box">
            <h3 class="hero__link">Dressers</h3>
            <p class="hero__title">from 300₴</p>
        </li>
        <li class="hero__box">
            <h3 class="hero__link">Sofas</h3>
            <p class="hero__title">from 500₴</p>
        </li>
    </ul>
</div>
  </section>