<section class="products">
    <div class="container">
    <h2 class="products__item">OUR PRODUCTS</h2>
    <ul class="products__link">
      <li class="products__wrap">
        <!--<picture>
          <source srcset="">
        </picture>-->
        <img src="#" alt="img" class="products__box">
        <p class="products__list">Minimalist storage solutions</p>
      </li>
      <li class="products__wrap">
        <img src="#" alt="img" class="products__box">
        <p class="products__list">Handcrafted minimalist seating</p>
      </li>
      <li class="products__wrap">
        <img src="#" alt="img" class="products__box">
        <p class="products__list">Sleek and simple tables</p>
      </li>
      <li class="products__wrap">
        <img src="#" alt="img" class="products__box">
        <p class="products__list">Minimalist seating for every space</p>
      </li>
    </ul>
    </div>
  </section>