<section class="reviews">
    <div class="container container__reviews">
        <h3 class="reviews__title-one">Clients reviews</h3>
        <ul class="reviews__list">
            <li class="reviews__item">
                <div class="div__reviews">
                    <div>
                        <!-- <picture class="header__logo">
                            <source srcset="" type="image/webp">
                            <source srcset="" type="image/png">
                            <img class="img__reviews" src="#" alt="1">
                          </picture> -->
                    </div>
                    <div>
                        <h3 class="reviews__title">Alexandra dream</h3>
                        <p class="reviews__text-two">1 week ago</p>
                    </div>
                </div>
            
                <div class="reviews__wrap">
                    <p class="reviews__text">I was blown away by the quality and craftsmanship of the furniture I received from this company. Each piece was unique and beautifully designed, and you can tell that a lot of thought and care goes into every detail. </p>
                </div>
            </li>

            <li class="reviews__item">
                <div class="div__reviews">
                    <div>
                        <img class="img__reviews" src="#" alt="1">
                    </div>
                    <div>
                        <h3 class="reviews__title">James Williams</h3>
                        <p class="reviews__text-two">A week ago</p>
                    </div>
                </div>
            
                <div class="reviews__wrap">
                    <p class="reviews__text">The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.</p>
                </div>
            </li>
            <li class="reviews__item">
                <div class="div__reviews">
                    <div>
                        <img class="img__reviews" src="#" alt="1">
                    </div>
                    <div>
                        <h3 class="reviews__title">Emily Watson</h3>
                        <p class="reviews__text-two">3 week ago</p>
                    </div>
                </div>
            
                <div class="reviews__wrap">
                    <p class="reviews__text">The "Minimal" furniture set has far exceeded my expectations. The sleek design combined with the high-quality materials have not only added an exceptional aesthetic to my space but also offered an uncompromising standard of comfort.</p>
                </div>
            </li>
        </ul>
    </div>
</section>