.footer {
    background-color: #0a224a;
    padding: 16px;
}

.footer__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 36px;
}

.footer__logo {
    height: 16px;
    width: 127px;
    fill: #ffffff;
}

.footer__list.tablet {
    display: none;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.footer__socials-icon {
    width: 28px;
    height: 28px;
}

.footer__list,
.footer__geo {
    margin-bottom: 35px;
}

.footer__list-item,
.footer__geo-item,
.footer__phone-item,
.footer__mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin-bottom: 8px;
}

.footer__phone-item,
.footer__mail {
    text-decoration: none;
}

.footer__phone-item {
    display: block;
}

.footer__mail {
    display: none;
}

.footer__terms {
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 64px;
}

.footer__terms a {
    color: #ffffff;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .footer__list.tablet {
        display: block;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .footer__geo {
        order: 1;
    }

    .footer__list {
        display: none;
    }

    .footer__phone {
        order: 2;
    }

    .footer__mail{
        display: block;
        order: 3;
    }
}

@media screen and (min-width: 1200px) {
    .footer__list.tablet {
        display: flex;
        flex-direction: row;
    }

    .footer__list-item {
        margin-left: 30px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .footer__phone,
    .footer__mail {
        margin-left: 80px;
    }

    .footer__terms {
        margin-top: 35px;
    }
}