.newsletter__title{ 
        font-weight: 400;
        font-size: 32px;
        line-height: 141%;
        text-transform: uppercase;
        color: #0a224a;
        padding-bottom: 30px;
        text-align: center;
        
    
    }
    
    .newsletter__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #0a224a;
    }
    
    .policy__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #7a7a7a;
    }
    
    
    .newsletter__btn{
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #ffffff;
        padding: 13px 75px;
        background: #0a224a;
    }
    @media screen and (min-width:480px){
        .newsletter__title{ 
            text-align: left;
            
        
        }

        
    }
    