.reviews{
  padding-bottom: 90px;
}


.reviews__item-two, 
.reviews__item-three{
  display: none;
  }

  

.reviews__title-one{
    font-weight: 400;
    font-size: 32px;
    line-height: 141%;
    text-transform: uppercase;
    color: #0a224a;
    padding-bottom: 30px;
}

.reviews__title{
font-weight: 700;
font-size: 20px;
line-height: 225%;
text-transform: uppercase;
color: #0a224a;
margin: 0;
font-size: 1.2em;
}

.reviews__text-two{
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #0a224a;
}

.reviews__text{
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #0a224a;
}


.reviews__title-one {
   font-weight: 400;
   font-size: 28px;
   line-height: 150%;
    color: #1e3250;
    text-align: center;
    margin-bottom: 20px;
  }


  .div__reviews {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }

    .img__reviews {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }


      .reviews__text-wrap{

      }


@media screen and (min-width: 480px) {

  

  
            .reviews__title {
              margin: 0;
              font-size: 1.2em;
              color: #1e3250; 
            }

            .reviews__list{
              display: flex;
              justify-content: space-between;
            }


  
            .reviews__text-two {
              font-size: 0.8em;
              color: gray;
              margin-top: 5px;
            }
  
          .reviews__wrap {
            padding: 15px;
            background-color: #f8faff; 
            border-radius: 10px;
        }
  
            .reviews__text {
              font-size: 0.9em;
            }
            .reviews__item-two{
              display: block;
            }

            .reviews__item-one{
              padding-right: 10px;
            }

        }

        @media screen and (min-width: 1200px){
          .reviews__item-three{
            display: block;
          }




        }