.reviews__title-one{
    font-weight: 400;
    font-size: 32px;
    line-height: 141%;
    text-transform: uppercase;
    color: #0a224a;
}

.reviews__title{
font-weight: 700;
font-size: 20px;
line-height: 225%;
text-transform: uppercase;
color: #0a224a;
}

.reviews__text-two{
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #0a224a;
}

.reviews__text{
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #0a224a;
}